pip
psutil==5.9.0
Pillow==9.0.1
pyserial==3.5
python-dateutil==2.8.2
urllib3==1.26.8
selenium==4.1.0
uiautomator==1.0.2
requests==2.27.1
wheel
colorama==0.4.4
Appium-Python-Client==2.1.2
lxml==4.7.1
pyscreenshot==3.0
futures==3.0.5
image==1.5.33
tzlocal==4.1
pyautocad==0.2.0
imutils==0.5.4
datefinder==0.7.1
regex==2022.1.18
pyttsx3==2.90
webdriver-manager==3.5.2
jsonschema==4.4.0
jsonpointer==2.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
idna==3.3
pyrsistent==0.18.1
attrs==21.4.0
pytest==7.0.1
yapf==0.32.0
websocket-client==1.2.3
tqdm==4.62.3
PyYAML==6.0
imap-tools==0.50.2
rich==12.0.1
beautifulsoup4==4.10.0
premailer==3.10.0
html-diff==0.4.1
pdf2image==1.16.0
